@import '../Common.css';
@import '../responsive-common.css';
@import '../../components/SideMenu/SideMenu.css';
.Sitepadding {
    padding: 0 15px;
}
.siteColor {
    color: #ffffff !important;
    vertical-align: middle;
    padding-top: 8px;
    padding-right: 15px;
}
.iconTextPadding {
    padding-left: 6px;
}
.cursurPointer {
  cursor: pointer;
}
.languageIcon{
  position: relative;
  top: 1px;
}
@-moz-document url-prefix() {
    .displayInlineBlock {
      display: inline-block !important;
    }
    .iconWidth {
      width: 20px;
    }
}