@import '../../components/variables.css';
@import '../../components/Common.css';
@import '../../components/responsive-common.css';

.removedBorderAndPadding {
    padding: 0 !important;
    border-top: none !important;
}

.collapsedTable {
    margin: 12px 0 !important;
}

.collapsedTable thead th {
    box-shadow: none !important;
}

.setHeightAuto {
    height: auto;
}
