@import './variables.css';
.btnPrimary, .btnPrimary:active, .btnPrimary:focus {
    background-color: var(--btn-primary-bg) !important;
    border-color: var(--btn-bordercolor-bg) !important;
    color: var(--btn-text-color) !important;
    padding: 6px 16px !important;
    font-size: 16px;
    border-radius: 45px;
    box-shadow: none !important;
}
.btnPrimary:hover {
    color: var(--btn-text-color) !important;
    text-decoration: none !important;
}
.btnSecondary, .btnSecondary:active, .btnSecondary:focus {
    background-color: var(--btn-secondary-bg) !important;
    border: 1px solid transparent !important;
    border-color: var(--btn-bordercolor-bg) !important;
    color: var(--btn-secondary-color) !important;
    padding: 6px 16px;
    border-radius: 45px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none !important;
}
.btnSecondary:hover {
    color: var(--btn-secondary-color) !important;
    text-decoration: none !important;
}
.formControlInput{
    height:44px;
    resize: none;
}
.formControlInput:focus {
    border-color: #000 !important;
    outline: 0 !important;
    box-shadow: none;
 }
.formControlSelect {
    display: block;
    width: 100%;
    padding: .375rem 2rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 44px; 
}
.formControlSelect:focus {
   border-color: #000 !important;
   outline: 0 !important;
   box-shadow: none;
}
.selectInput {
    background: #000;
    color: #fff;
    padding: 0px 10px;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}
.labelText{
    font-size: 16px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 6px;
}


/*************************** Header Modal Start **********************/
.activeItem {
	padding: 15px;
	text-align: center;
	font-size: 16px;
    margin-bottom: 18px;
    margin-top: 18px;
	border-radius: 8px;
	cursor: pointer;
}
.mainSection {
	display: inline-block;
	padding: 0px 8px;
	width: 20%;
}
.activeItem:hover,
.activeItem:focus,
.activeItem:active {
	background-color: rgb(242, 242, 242);
	color: #484848;
}
.activeSection:first-child {
	background-color: #fff;
	color: #484848;
	border: 1px solid #767676;
}

/*************************** Header Modal End **********************/
.errorMessage {
    color: red !important;
}
/********************** Margin Common Space Start ******************/
.spaceTop1{
    margin-top: 6px;
}
.spaceTop2{
    margin-top: 12px;
}
.spaceTop3{
    margin-top: 18px;
}
.spaceTop4{
    margin-top: 24px;
}
.spaceTop5{
    margin-top: 30px;
}
.spaceTop6{
    margin-top: 36px;
}
.space1 {
    margin-bottom: 6px;
}
.space2 {
    margin-bottom: 12px;
}
.space3 {
    margin-bottom: 18px;
}
.space4 {
    margin-bottom: 24px;
}
.space5 {
    margin-bottom: 30px;
}
.space6 {
    margin-bottom: 36px;
}
.noMargin {
	margin: 0px;
}
/******************** Margin Common Space End *********************/
/******************** Padding Common Space End ********************/
.padding1 {
   padding-bottom: 6px;
}
.padding2 {
   padding-bottom: 12px;
}
.padding3 {
   padding-bottom: 18px;
}
.padding4 {
   padding-bottom: 24px;
}
.padding5 {
   padding-bottom: 30px;
}
.padding6 {
   padding-bottom: 36px;
}
.paddingTop1 {
   padding-top: 6px;
}
.paddingTop2 {
   padding-top: 12px;
}
.paddingTop3 {
   padding-top: 18px;
}
.paddingTop4 {
   padding-top: 24px;
}
.paddingTop5 {
   padding-top: 30px;
}
.paddingTop6 {
   padding-top: 36px;
}
.noPadding {
	padding: 0px;
}
/*********************** Text Align Start **************************/
.textAlignRight {
	text-align: right;
}
.textAlignLeft {
	text-align: left;
}
.textAlignCenter{
    text-align: center;
}
/************************ Text Align End ***************************/
/******************** Padding Common Space End ********************/
@media screen and (max-width: 767px) {
	.mainSection {
		width: 50%;
	}
}
/*************************** Header Modal End **********************/