@import '../../../components/variables.css';
@import '../../../components/Common.css';
@import '../../../components/responsive-common.css';
 .listContainer {
	padding: 0px;
	list-style-type: none;
}
.listContent {
	margin-bottom: 30px;
	font-size: 18px;
}
.checkBoxSection {
	display: table-cell;
}
.checkBoxLabel {
	padding: 0px 10px;
}
.noPadding {
	padding: 0px;
}
.tableCss{
	padding-top: 20px;
}