@import '../../../components/variables.css';
@import '../../../components/Common.css';
@import '../../../components/responsive-common.css';
 .marbtm14 {
	margin-bottom: 14px;
}
.container {
	margin: 0 auto;
}