@import '../../components/variables.css';
/** RentAll - Begin **/
.logInModalContainer {
	max-width: 1024px;
	margin: 54px auto;
	width: 100%;
	padding: 10px;
}
.logInModalBody {
	padding: 0px;
	margin: 30px 15px;
}
.textCenter{
	width: 100%;
	text-align: center;
}
@media screen and (max-width: 767px) {

  .logInModalContainer {
		margin: 0px auto;
	}
}